In [22]:
import pandas as pd
from sklearn import preprocessing

In [23]:
data = pd.read_csv("ce889_dataCollection.csv",names= ['X1', 'X2', 'Y1', 'Y2'])
data.head(5)

          X1     X2   Y1    Y2
0 -87.808803  307.1  0.0  0.00
1 -87.808803  307.1 -0.1  0.04
2 -87.848803  307.2 -0.2  0.00
3 -87.848803  307.4 -0.3  0.04
4 -87.888803  307.7 -0.4  0.00

In [24]:
data.shape

(6816, 4)

In [25]:
data.max()

X1    556.311507
X2    558.184233
Y1      7.634873
Y2      3.105493
dtype: float64

In [26]:
data.min()

X1   -539.680600
X2     65.201914
Y1     -3.624905
Y2     -3.030444
dtype: float64

In [27]:
data.drop_duplicates(subset=["X1","X2"])

             X1          X2        Y1       Y2
0    -87.808803  307.100000  0.000000  0.00000
2    -87.848803  307.200000 -0.200000  0.00000
3    -87.848803  307.400000 -0.300000  0.04000
4    -87.888803  307.700000 -0.400000  0.00000
5    -87.888803  308.100000 -0.500000  0.04000
...         ...         ...       ...      ...
6811  32.903551   87.036826  4.785483 -0.38103
6812  33.284581   82.251343  4.885483 -0.34103
6813  33.625611   77.365861  4.985483 -0.30103
6814  33.926641   72.380378  5.085483 -0.26103
6815  34.187671   67.294896  5.185483 -0.22103

[6781 rows x 4 columns]

In [28]:
data.duplicated(keep='last')

0       False
1       False
2       False
3       False
4       False
        ...
6811    False
6812    False
6813    False
6814    False
6815    False
Length: 6816, dtype: bool

In [29]:
data.isna().sum()

X1    0
X2    0
Y1    0
Y2    0
dtype: int64

In [30]:
data['X1'].fillna((data['X1'].mean()), inplace=True)
data['X2'].fillna((data['X2'].mean()), inplace=True)
data['Y1'].fillna((data['Y1'].mean()), inplace=True)
data['Y2'].fillna((data['Y2'].mean()), inplace=True)

In [31]:
def normalize_data(df):
    data = df.copy()
    for f in df.columns:
        max_value = df[f].max()
        min_value = df[f].min()
        data[f] = (df[f] - min_value) / (max_value - min_value)
    return data

data = normalize_data(data)
print(data)

            X1        X2        Y1        Y2
0     0.412295  0.490683  0.321934  0.493884
1     0.412295  0.490683  0.313053  0.500403
2     0.412258  0.490886  0.304172  0.493884
3     0.412258  0.491292  0.295290  0.500403
4     0.412222  0.491900  0.286409  0.493884
...        ...       ...       ...       ...
6811  0.522435  0.044291  0.746941  0.431786
6812  0.522782  0.034584  0.755822  0.438305
6813  0.523093  0.024674  0.764703  0.444824
6814  0.523368  0.014561  0.773584  0.451343
6815  0.523606  0.004246  0.782466  0.457862

[6816 rows x 4 columns]

In [32]:
train_len = int(len(data) * 0.7)
test_len = len(data) - train_len
train, test = data.iloc[0:train_len,:], data.iloc[train_len:len(data),:]

In [33]:
print(train)
print(test)

            X1        X2        Y1        Y2
0     0.412295  0.490683  0.321934  0.493884
1     0.412295  0.490683  0.313053  0.500403
2     0.412258  0.490886  0.304172  0.493884
3     0.412258  0.491292  0.295290  0.500403
4     0.412222  0.491900  0.286409  0.493884
...        ...       ...       ...       ...
4766  0.312113  0.434725  0.424314  0.443243
4767  0.312396  0.432387  0.416504  0.438614
4768  0.312706  0.430227  0.408694  0.433985
4769  0.313041  0.428245  0.400884  0.429356
4770  0.313402  0.426442  0.393074  0.424726

[4771 rows x 4 columns]
            X1        X2        Y1        Y2
4771  0.313790  0.424817  0.385264  0.420097
4772  0.314203  0.423371  0.377454  0.415468
4773  0.314642  0.422102  0.369644  0.410839
4774  0.315107  0.421013  0.361834  0.406210
4775  0.315597  0.420101  0.354024  0.401581
...        ...       ...       ...       ...
6811  0.522435  0.044291  0.746941  0.431786
6812  0.522782  0.034584  0.755822  0.438305
6813  0.523093  0.024674  0.764703  0.444824
6814  0.523368  0.014561  0.773584  0.451343
6815  0.523606  0.004246  0.782466  0.457862

[2045 rows x 4 columns]

In [34]:
train.to_csv("normalized_training.csv", index=False)
test.to_csv("normalized_testing.csv", index=False)